/* SLIM — 替换 __CDN_BASE__ */

@font-face {
  font-family: 'Maple Mono NF CN';
  src: url('__CDN_BASE__/webfonts/MapleMono-NF-CN-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maple Mono NF CN';
  src: url('__CDN_BASE__/webfonts/MapleMono-NF-CN-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maple Mono NF CN';
  src: url('__CDN_BASE__/webfonts/MapleMono-NF-CN-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maple Mono NF CN';
  src: url('__CDN_BASE__/webfonts/MapleMono-NF-CN-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maple Mono NF CN';
  src: url('__CDN_BASE__/webfonts/MapleMono-NF-CN-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maple Mono NF CN';
  src: url('__CDN_BASE__/webfonts/MapleMono-NF-CN-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
